<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="header">
        <a href="./">UNSW Degree Planner</a>
    </div>
    <div class="block">
        <div class="content">
            {% block body %}{% endblock %}
        </div>
    </div>
    <div class="footer">
        <h5>Designed by Andrew Xie</h5>
    </div>
</body>
</html>