{% extends 'base.html' %}

{% block head %}
<title>Degree Planner</title>
{% endblock %}

{% block body %}
<div>
    Select your degree type:
    <select name="type">
        <option value="Undergraduate">Undergraduate</option>
        <option value="Postgraduate">Postgraduate</option>
    </select>
</div>
<!--
    Show degrees based on type, allow search for dropdown menu
-->
<div>
    Select your degree:
    <select name="degree">
        <option value="3781">3781 - Advanced Mathematics (Honours) / Computer Science</option>
    </select>
</div>

<a href="/select">
    <button>Continue</button>
</a>
{% endblock %}